h1{
    /*      Offset-x    offset-y    blur    color*/
    text-shadow: 5px 2px 5px #000000;
    
}

img{
    transform: rotateY(-45deg);
    border-radius: 5px ;
    border: 3px solid red;
    transition: transform 0.8;
}

img:hover{
    transform: translateY(-20px);
    border-color: blue;
    opacity: 0.3;
}

.img-link{
    width: 150px;
    height: 50px;
    object-fit: contain; /*Mantem a proporção da imagem*/

}