/* === ESTILIZANDO TABELAS === */

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    color: #34495e;
    margin-top: 30px;
}

/* === Estilo base para todas as tabelas === */

/* Continuar digitação (Aqui) */

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgb(0,0,0,0,1);
}

.tabela-produtos {
    border: 2px solid blueviolet;

}

.tabela-produtos thead{
    background-color: blueviolet;
    color: #fff;
}

.tabela-produtos th,
.tabela-produtos td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f5f5f5;
}
/*zebrado   */
.tabela-produtos tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
/*zebrado em linhas impares*/
.tabela-produtos tbody tr:nth-child(odd){
    background-color: #999;
}

/*hover em linhas de tabela*/

.tabela-produtos tbody tr:hover{
    background-color: #d7e6e4;
    cursor: pointer;
}

/*___________________________________________________*/
/*estilos da tabela*/

.tabela-vendas{
    border: 1px solid rgb(8, 209, 75);

}

.tabela-vendas th {
    border: 1px solid rgb(8, 209, 75);
    padding: 10px;
    color: #ff0000;
    font-size: 18px;
}
.valor {
    text-align: right; /*Texto alinhado a direita*/
    font-weight: bold;
    color: #34495e;
}

.total {
    background-color: rgb(255, 208, 0);
    font-weight: bold; /*Negrito*/
}
