* === ESTILIZANDO FORMULÁRIOS === */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #0dffd7 100%);
    padding: 20px;
    min-height: 100vh; /* Altura mínima da viewport */
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* Container do formulário */
.formulario {
    background-color: white;
    max-width: 500px;
    margin:  0 auto; /*centraliza horizontalmente*/
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px black;
}

label {
    color: gray;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
    

}
input[type="Text"],
input[type="email"],
input[type="password"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: border-box 0.3;
/*Inclui o padding(mantendo a largurta)*/
    box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
    outline: none; /*remove a borda padrao*/
    border-color: #667eea;
    background-color: aliceblue;
}

/* Radio e checkbox*/
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px ;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

button{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
}
.btn-enviar:hover {
    background-color: #27ae27;7
    color: aliceblue;
   transform: translateY(-2px);/*Move para cima levemente*/
}

.btn.limpar {
    background-color: red;
    color: azure;
    
}

 @keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {opacity:1;}
  20%, 24%, 55% {opacity:0.3;}
 }

.btn-limpar:hover{
 background-color: #ae2727;
animation: flicker 1s infinite;
    color: aliceblue;
   transform: translateY(-2px);/*Move para cima levemente*/
   
}



/* Continuar digitação (Aqui) */